<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>

    <title>connpass検索アプリ</title>

    <link rel="stylesheet" type="text/css" href="./css/sample.css"/>
    <link rel="stylesheet" type="text/css" href="./css/line.css"/>

    <script type="text/javascript" src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="./js/wsSettings.js"></script>
</head>

<body>
<div class="wrapper">

    <div id="result"></div>
    <div class="blank"></div>
    <div class="footer">
        <form id="form" action="#">
            <span>なまえ：</span>
            <input type="text" id="name"/>&nbsp;&nbsp;&nbsp;&nbsp;
            <span>めっせーじ：</span>
            <input type="text" id="message"/>
            <input type="submit" value="送信"/>
        </form>
    </div>

</div>
</body>
</html>