body{
    font-family : cursive, 'メイリオ', monospace;
    font-size: 18px;
    width:100%;
    min-width: 320px;
    margin:0;
    padding: 0;
    background-color: #6f92c0;
}


.blank {
    height:30px;
}

.footer {
    width:96%;
    float: right;
}